{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container ">
  <div class="row " style="height: 80vh;">
    <div class="col-10 d-flex justify-content-center align-items-center mx-auto ">
      <div class="header-content">
        <h1 class="display-6 font-weight-bold" style="font-size: 60px; font-weight:900; ">We Provide solution For you
        </h1>
        <div class="timeandcontent d-flex justify-content-between">
          <h6 class="display-6 font-weight-light pop-up"></h6>
          <h6 class="display-6 font-weight-light timeandcontent-pop-up"></h6>
        </div>
        
      </div>


    </div>
  </div>
</div>


{% include 'tidyquant/ourservices.html' %}
{% include 'tidyquant/ourhappy_client.html' %}
{% include 'tidyquant/footer.html' %}

<!-- <h1 class="headline">
    Widget Inc.
</h1> -->

{% endblock %}
{% block js %}
<script src="{% static 'js/app.js' %}">

</script>

{% endblock %}