{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container ">
   <div class="row " style="height: 80vh;">
       <div class="col-10 d-flex justify-content-center align-items-center mx-auto ">
           
            <h1 class="display-6">We Provide solution For you</h1>
            
       </div>
   </div>
</div>
<div class="container">
    <div class="row mb-4" >
        <div class="col-10 d-flex justify-content-center align-items-center mx-auto ">
            <div class="content">
                <h1 class="display-6 mb-2 text-center">Our Service</h1>
                <p class="font-weight-light text-center">
                    Leverage best practices and accelerators for data engineering, 
                    data <br> analytics, cloud adoption, implementation and ROI</p>
            </div>
             
        </div>
    </div>

    <div class="row ">
        <div class="col-10 col-md-3 headline">
            <div class="card border-0 mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-primary">
                  <h5 class="card-title">Primary card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-10 col-md-3 headline">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-primary">
                  <h5 class="card-title">Primary card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-10 col-md-3 headline">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-primary">
                  <h5 class="card-title">Primary card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-10 col-md-3 headline">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-primary">
                  <h5 class="card-title">Primary card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row ">
      <div class="col-10 col-md-3 headline">
          <div class="card border-0 mb-3" style="max-width: 18rem;">
              <div class="card-header">Header</div>
              <div class="card-body text-primary">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
      </div>
      <div class="col-10 col-md-3 headline">
          <div class="card border-primary mb-3" style="max-width: 18rem;">
              <div class="card-header">Header</div>
              <div class="card-body text-primary">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
      </div>
      <div class="col-10 col-md-3 headline">
          <div class="card border-primary mb-3" style="max-width: 18rem;">
              <div class="card-header">Header</div>
              <div class="card-body text-primary">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
      </div>
      <div class="col-10 col-md-3 headline">
          <div class="card border-primary mb-3" style="max-width: 18rem;">
              <div class="card-header">Header</div>
              <div class="card-body text-primary">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
      </div>
  </div>

</div>
<h1 class="headline">
    Widget Inc.
</h1>

{% endblock %}
{% block js %}
<script src="{% static 'js/app.js' %}">

</script> 

{% endblock %}
